.main-nav {
  position: fixed;
  pointer-events: none;
  top: 28px;
  right: 37px;
  $root: &;

  &.is-active {
    pointer-events: all;

    &::before {
      border-color: $color-default-black;
      height: 100%;
      width: 100%;
      border-radius: 16px;
    }

    #{$root}__list {
      opacity: 1;
    }
  }

  &::before {
    position: absolute;
    content: "";
    right: 0;
    border: 2px solid transparent;
    top: 0;
    z-index: -1;
  }

  &__list {
    gap: 15px;
    padding: 52px 40px 46px;
    display: flex;
    list-style: none;
    margin: 0;
    flex-direction: column;
    opacity: 0;
    width: 260px;
  }

  &__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $color-default-black;
  }
}
